<h1> Merchants Item Index Page </h1>


<h2> <%= @merchant.name %> </h2>

<h3>My Items</h3>

<div class="item-index">
  <ol>
    <% @items.each do |item| %>
      <%= item.name %> <%= link_to merchant_item_path(item.id) %>
    <% end %>
  </ol>
</div>
